/* ==========================================================================
   TABLE OF CONTENTS
   ==========================================================================

	$HELPER - clearfix, floating, 
	$COMPONENTS - buttons, labels, badges, alerts, panels, breadcrumbs
	$DEFAULTS - body, typo, images, forms
	
	$HEADER - site name, logo,
	$NAVIGATION - top-nav, main-nav, side-nav, sub-nav, foot-nav
	$MAIN - articles, pages
	$SIDEBAR - widgets
	$FOOTER - Copyright

   ==========================================================================
   COLOR PALETTE
   ==========================================================================
	
	#333333 - Normal text
	- Light gray text
	- Link color
	- Link hover color
	
*/



/* ==========================================================================
   $HELPER
   ========================================================================== */
   
/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
   
.float-left { 
	float: left; 
}

.float-right { 
	float: right; 
}

.clearfix:before,
.clearfix:after { 
	content: " "; 
	display: table;  
}  

.clearfix:after { 
	clear: both; 
}  

.clearfix { 
	zoom: 1; 
}  

.text-left {
  text-align: left!IMPORTANT; 
}

.text-right {
  text-align: right!IMPORTANT; 
}

.text-center {
  text-align: center!IMPORTANT;
}

.text-justify {
  text-align: justify!IMPORTANT;
}

.hide {
  display: none!IMPORTANT; 
}

@media only screen {
	.hide-on-desktop { display: block; }

	.hide-on-mobile { display: none; }
}

@media only screen and (min-width: 48em) {
	.hide-on-desktop { display: none!IMPORTANT; }

	.hide-on-mobile { display: block; }
}

/* Radius styles
   ========================================================================== */ 
.radius,
.toggle-box.radius .toggle { 
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

/* Radius style for accordion */
.accordion.radius dt.toggle:first-child {
	-webkit-border-radius: 0.3em 0.3em 0 0;
    border-radius: 0.3em 0.3em 0 0;
}
.accordion.radius dt.toggle.last {
	-webkit-border-radius: 0 0 0.3em 0.3em;
    border-radius: 0 0 0.3em 0.3em;
}

/* ==========================================================================
   $DEFAULTS
   ========================================================================== */
   
html {

}

body { 
	left: 0px; /* to make mobile nav working */
	position: relative; /* to make mobile nav working */
}

html,
body { 
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	line-height: 1.618; /* golden ratio of 1.61803399 see http://www.pearsonified.com/typography/ */
	margin: 0;	
}
   
body, 
select, 
input, 
textarea {
	color: #333333; /* can be overridden by the theme-customizer */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
.panel,
.toggle-box,
.accordion,
.entry-meta,
.hentry,
.post-navigation {
	margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {color: #222;}

h1 {font-size: 2em;}

h2 {font-size: 1.8em;}

h3 {font-size: 1.6em;}

h4 {font-size: 1.2em;}

h5 {font-size: 1em;}

h6 { font-size: 0.8em;}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {}

.subheader {}

a {
	color: #4285f4; /* can be overridden by the theme-customizer */
} 

a:active {}

a:hover,
a:focus {
	color: #76a7fa;
}

p {}

.lead {
	font-size: ;
	line-height: ;
}

ul,
ol,
dl {}

ul li ul,
ul li ol,
ol li ul,
ol li ol {}



hr {
	border: solid #dddddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 1.25em 0 1.1875em;
	height: 0; 
}

mark {
	background-color: #fcd700; 
	color: #000; 
}

/* Blockquote */
blockquote {
	padding: 0.5625em 1.25em 0 1.1875em;
	border-left: 1px solid #dddddd; 
}

blockquote cite {
	display: block;
	font-size: 0.8em;
	color: #555555; 
}

blockquote cite:before {
	content: "\2014 \0020"; /* font awesome content? */
}

blockquote cite a,
blockquote cite a:visited {

}

blockquote,
blockquote p { 
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{
	background: #fcd700; 
	color: #fff; 
	text-shadow: none;
}
::selection {
	background: #fcd700; 
	color: #fff; 
	text-shadow: none;
} 

/* Images
   ========================================================================== */
 
img {}

a img {
	border: 0;
}

a img:hover {}

.alignleft {
	float: left;
	margin-right: 10px;
}

.alignright {
	float: right;
	margin-left: 10px;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignnone,
.alignnone img {
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
}

.wp-caption {
	background: #ffffff;
	border: 1px solid #e6e6e6;
	padding: 5px;
	max-width: 100%;
	margin-bottom: 1.25em;
}

.wp-caption-text {
	margin-bottom: 0;
	font-size: 12px;
	color: #b2b2b2;
}

/**
 * Example HTML:
 *
 * <div class="thumbnail">
 *		<img src="#">
 * </div>
 *
 * or
 *
 * <a class="thumbnail" href="#">
 *		<img src="#">
 * </a>
 */
.thumbnail {
	background: #ffffff;
	border: 1px solid #DDDDDD;
    display: inline-block;
    padding: 5px;
    max-width: 100%;
}

.thumbnail > img {
    display: block;
    max-width: 100%;
}

a.thumbnail:hover {
	border: 1px solid #2BA6CB;
}

/* Forms
   ========================================================================== */
   
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
	vertical-align: middle;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
	padding: 6px 12px;
	font-size: 14px;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="week"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
textarea:hover {
	border-color: #66AFE9;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
	border-color: #66AFE9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }

/* ==========================================================================
   $COMPONENTS
   ========================================================================== */

/* Buttons
   ========================================================================== */
/**
 * Example HTML:
 *
 * <a href="#" class="btn">
 *		<!-- content -->
 * </a>
 *
 * or
 *
 * <button type="button" class="btn radius dark-blue small">
 *		<!-- content -->
 * </button>
 */
.btn,
a.btn,
button {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-size: 14px;
	line-height: 14px;
	background: #ffffff;
	color: #666666;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.2);
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 0.5em 1.2em;
	/*text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);*/
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0 1px 0 rgba(0, 0, 0, 0.05); /* Add white inset shadow, WebKit */
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0 1px 0 rgba(0, 0, 0, 0.05); /* Add white inset shadow, Firefox */
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0 1px 0 rgba(0, 0, 0, 0.05); /* Add white inset shadow, Standart */
}

.btn:hover,
a.btn:hover,
.btn:focus,
a.btn:focus,
button:hover,
button:focus {
	border-color: rgba(0, 0, 0, 0.3);
	color: inherit;
}

.btn:active,
.btn.pressed,
a.btn:active,
a.btn.pressed,
button:active,
button.pressed { /* Add inset shadow at press-in */
	-webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2); /* WebKit */
	-moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2); /* Firefox */
	box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2); /* Standard */	
}

/* Button Colors
   ========================================================================== */ 
   
/* Link color */
button.link,
.btn.link,
a.btn.link {
	border: 0;
	color: #4285F4; /* add to customizer */
	text-shadow: none;
	box-shadow: none;
	background: transparent;
}
button.link:hover,
button.link:avtive,
button.link:focus,
button.link.pressed,
.btn.link:hover,
.btn.link:active,
.btn.link:focus,
.btn.link.pressed,
a.btn.link:hover,
a.btn.link:active,
a.btn.link:focus,
a.btn.link.pressed {
	color: #76A7FA; /* add to customizer */
	box-shadow: none;
	border: 0;
}

/* Blue color */ 
button.blue,
.btn.blue,
a.btn.blue {
	color: #ffffff;
	background: #4285f4;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
button.blue:hover,
.btn.blue:hover,
a.btn.blue:hover {
	color: #ffffff;
	background: #76a7fa;
}

/* Red color */   
button.red,
.btn.red,
a.btn.red {
	color: #ffffff;
	background: #db4437;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
button.red:hover,
.btn.red:hover,
a.btn.red:hover {
	color: #ffffff;
	background: #e57368;
}

/* Yellow color */ 
button.yellow, 
.btn.yellow,
a.btn.yellow {
	color: #ffffff;
	background: #f4b400;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
button.yellow:hover,
.btn.yellow:hover,
a.btn.yellow:hover {
	color: #ffffff;
	background: #fbcb43;
}

/* Green color */
button.green,
.btn.green,
a.btn.green {
	color: #ffffff;
	background: #0f9d59;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
button.green:hover,
.btn.green:hover,
a.btn.green:hover {
	color: #ffffff;
	background: #33b679;
}

/* Grey color */
button.grey,
.btn.grey,
a.btn.grey {
	color: #666666;
	background: #f2f2f2;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
	border: 1px solid #f2f2f2;
	box-shadow: none;
}
button.grey:hover,
.btn.grey:hover,
a.btn.grey:hover {
	background: #E6E6E6;
	color: #333333;
	border: 1px solid #E6E6E6;
}

/* Dark color */
button.dark,
.btn.dark,
a.btn.dark {
	color: #ffffff;
	background: #666666;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
button.dark:hover,
.btn.dark:hover,
a.btn.dark:hover {
	color: #ffffff;
	background: #808080;
}

/* Disabled color */
button.disabled,
button.disabled:hover,
button.disabled:focus,
button.disabled:active,
button.disabled.pressed,
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled:active,
.btn.disabled.pressed,
a.btn.disabled,
a.btn.disabled:hover,
a.btn.disabled:focus,
a.btn.disabled:active,
a.btn.disabbled.pressed {
	color: #cccccc;
	background: #f2f2f2;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
	border-color: rgba(0, 0, 0, 0.1);
	cursor: default;
	box-shadow: none;
}

/* Dropdown Buttons
   ========================================================================== */  
/**
 * Example HTML:
 *
 * <div class="dropdown-btn">
 *      <a href="#" class="button"><!-- content --> <i class="icon-caret-down"></i></a>
 *      <ul>
 *          <li><a href="#"><!-- content --></a></li>
 *          <li><a href="#"><!-- content --></a></li>
 *          <li class="sep"><a href="#"><!-- content --></a></li>
 +     </ul>
 *  </div>
 */
.dropdown-btn {
	display: inline-block;
	position: relative;
}

.dropdown-btn ul {
	margin: 0;
	list-style-type: none;
	background: #F7F7F7;
	border: 1px solid #DCDCDC;
	z-index: 999;
	position: absolute;
	width: auto;
    -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-btn li a {
	display: block;
	padding: 0.5em 1em;
	font-size: 80%;
	color: #555555;
}

.dropdown-btn li a:hover {
	background: #e3f4f9;
}

.dropdown-btn li.sep { /* Seperator */
    border-top: 1px solid #DCDCDC; 
}

/* Buttons Groups
   ========================================================================== */  
/**
 * Example HTML:
 *
 *  <ul class="btn-group radius">
 *      <li><a href="#" class="btn"><!-- content --></a></li>
 *      <li><a href="#" class="btn"><!-- content --></a></li>
 *      <li><a href="#" class="btn"><!-- content --></a></li>
 *  </ul>
 */
ul.btn-group {
	list-style-type: none;
	line-height: normal;
}

ul.btn-group:before, ul.btn-group:after {
    content: " ";
    display: table;
}

ul.btn-group:after {
    clear: both;
}

ul.btn-group li {
	float: left;
	display: block;
}

ul.btn-group a {
	border-right: 0;
}

ul.btn-group li:last-child a {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

ul.btn-group li:last-child a:hover {
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

ul.btn-group .radius {
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

ul.btn-group.radius li:first-child a {
	-webkit-border-radius: 0.3em 0px 0px 0.3em;
    border-radius: 3px 0px 0px 3px;
}

ul.btn-group.radius li:last-child a {
	-webkit-border-radius: 0 0.3em 0.3em 0;
    border-radius: 0 0.3em 0.3em 0;
}

/* Popover
   ========================================================================== */  
/**
 * Example HTML:
 *
 * <div class="popover">
 *      <div class="popover-content">
 *      	<span class="arrow"><i class="icon-caret-down icon-large"></i></span>
 *           
 *          <p><!-- content --></p>
 *     	</div>
 *
 *		<button type="button" class="btn">Popover Button</button>
 *  </div>
 */
.popover {
	position: relative;
	display: inline-block;
}

.popover .arrow {
	display: block;
	width: 100%;
	position: absolute;
	bottom: -15px;
	text-align: center;
	color: #ffffff;
	margin-left: -10px;
}
 
.popover-content {
 	background: #ffffff;
	display: block;
	z-index: 1010;
	position: absolute;
	padding: 10px;
	bottom: 0;
	left: 50%;
	margin-left: -120px; /* half the width of the full element */
	margin-bottom: 50px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	width: 240px; /* 260px without padding */
}

/* Popover bottom */
.bottom .popover-content {
	top: 0;
	bottom: auto; /* set bottom to auto to override normal popover style */
	margin-top: 50px;
	margin-bottom: 0;
}

.popover.bottom .arrow {
	top: -15px;
	bottom: auto; /* set bottom to auto to override normal popover style */
}

/* Popover right (WIP)*/
.right .popover-content {
	bottom: auto; /* set bottom to auto to override normal popover style */
	margin-left: 50px;
	margin-bottom: 0;
	left: 100%;
	display: none;
}

.popover.right .arrow {
	right: -15px;
	bottom: auto;
}
 
/* Togglebox
   ========================================================================== */  
/**
 * Example HTML:
 *
 * <dl class="toggle-box">
 *  <dt class="toggle">
 *   <span>Toggler <i class="icon-plus"></i></span>
 *  </dt>
 *  <dd class="content">This is the toggable content part.here u can insert everthing u want (nearly).</dd>
 * </dl>
 */
  
.toggle-box .toggle {
	border: 1px solid #DDDDDD;
}
 
.toggle-box .toggle > span {
	width: 100%;
	display: block;
	cursor: pointer;
	padding: 0 10px;
}

.toggle-box .toggle i {
	float: right;
	padding-top: 5px;
}

.toggle-box .content {
	background: #EDEDED;
	padding: 10px;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;	
}
 
/* Accordion
   ========================================================================== */ 
.accordion .toggle {
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
}

.accordion .last {
	border-bottom: 1px solid #DDDDDD;
}

.accordion .toggle > span {
	width: 100%;
	display: block;
	cursor: pointer;
	padding: 0 10px;
}

.accordion .toggle i {
	float: right;
	padding-top: 5px;
}

.accordion .content {
	background: #EDEDED;
	padding: 10px;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

.accordion .content.last {
	border-top: 0;
}
 
/* Labels
   ========================================================================== */  
/**
 * Example HTML:
 *
 * <span class="label">
 *		<!-- content -->
 * </span>
 */
.label {
	display: inline-block;
	background: #F2F2F2;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	padding: 0.2em 0.4em;
	white-space: nowrap;
	color: #999999;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
	vertical-align: middle;
}
 
/* Badges
   ========================================================================== */ 
/**
 * Example HTML:
 *
 * <span class="badge">
 *		<!-- content -->
 * </span>
 */
.badge {
	background: #F2F2F2;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	padding: 0.2em 0.4em;
	white-space: nowrap;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	color: #999999;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
	vertical-align: middle;
}

/* Colors for Labels and Badges
   ========================================================================== */ 
.label.link,
.label.link:hover,
.badge.link,
.badge.link:hover {
	background: transparent;
	color: #4285F4;
	text-shadow: none;
}

.label.grey,
.badge.grey {
	background: #ffffff;
	color: #666666;
	text-shadow: none;
	border: 1px solid #B2B2B2;
}

.label.dark,
.badge.dark {
	background: #666666;
	color: #ffffff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.label.blue,
.badge.blue {
	background: #4285F4;
	color: #ffffff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.label.green,
.badge.green {
	background: #0F9D59;
	color: #ffffff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.label.yellow,
.badge.yellow {
	background: #F4B400;
	color: #ffffff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.label.red,
.badge.red {
	background: #DB4437;
	color: #ffffff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
   
.label.disabled,
.badge.disabled {
	background: #F2F2F2;
	color: #CCCCCC;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
	cursor: default;
	border: 1px solid #D9D9D9;
}   
   
/* Alerts
   ========================================================================== */
/**
 * Example HTML:
 *
 * <div class="alert">
 *		<!-- content -->
 *		<a href="#" class="close"><i class="icon-remove"></i></a>
 * </div>
 */
.alert-box {
    border: 1px solid #e6e6e6;
	display: block;
	margin-bottom: 1.25em;
	position: relative;
	padding: 1em 2em 1em 1em;
	background: #ffffff; 
	color: #666666;
	line-height: normal;
}

.alert-box .close {
	font-weight: bold;
	position: absolute;
	top: 0.4em;
	right: 0;
	padding: 0.5em;
	color: inherit;
	opacity: 0.5; 
	cursor: pointer;
}

.alert-box .close:hover,
.alert-box .close:focus {
	opacity: 1; 
}

/* Alerts, Panels, Toggles and Popovers
   ========================================================================== */

.alert-box > :first-child,
.panel > :first-child,
.popover-content > :first-child,
.toggle-box .content > :first-child,
.accordion .content > :first-child {
    margin-top: 0; 
}

.alert-box > :last-child,
.panel > :last-child,
.popover-content > :last-child,
.toggle-box .content > :last-child,
.accordion .content > :last-child {
    margin-bottom: 0; 
}  

.alert-box h1,
.panel h1,
.alert-box h2,
.panel h2,
.alert-box h3,
.panel h3,
.alert-box h4,
.panel h4,
.alert-box h5,
.panel h5,
.alert-box h6,
.panel h6,
.alert-box a,
.panel a {
	color: inherit;
}
   
/* Panels
   ========================================================================== */
/**
 * Example HTML:
 *
 * <div class="panel">
 *		<!-- content -->
 * </div>
 */
.panel {
	border: 1px solid #e6e6e6;
	padding: 1em;
	background: #ffffff; 
	color: #666666; 
}

/* Colors for Alerts and Panels
   ========================================================================== */
.alert-box.grey,
.panel.grey {
	background: #F2F2F2;
	border: 0;
	color: #999999;
}

.alert-box.yellow,
.panel.yellow {
    background: #FCF8E3;
    border: 1px solid #FBEED5;
    color: #C09853;
}

.alert-box.red,
.panel.red {
    background: #F2DEDE;
    border: 1px solid #EED3D7;
    color: #B94A48;
}

.alert-box.green,
.panel.green {
    background: #DFF0D8;
    border: 1px solid #D6E9C6;
    color: #468847;
}

.alert-box.blue,
.panel.blue {
    background: #D9EDF7;
    border: 1px solid #BCE8F1;
    color: #3A87AD;
} 

/* Breadcrumb
   ========================================================================== */   


/* Tabs
   ========================================================================== */ 
/**
 * Example HTML:
 *
 * <div class="tabbed clearfix">
 *
 *	<!-- The tabs -->
 *	<ul class="tabs">
 *		<li class="t1"><a class="t1 tab" title="<?php _e('Tab 1'); ?>"><?php _e('Tab 1'); ?></a></li>
 *		<li class="t2"><a class="t2 tab" title="<?php _e('Tab 2'); ?>"><?php _e('Tab 2'); ?></a></li>
 *	</ul>
 *
 *	<!-- tab 1 -->
 *	<div class="t1">
 *		<!-- Put what you want in here. -->
 *	</div>
 *
 *	<!-- tab 2 -->
 *	<div class="t2">
 *		<!-- Put what you want in here. -->
 *	</div>
 *
 * </div>
 */

.tabbed {
}

/* List of tabs */.tabbed ul.tabs {
	float: left;
	display: inline;
	width: 100%;
	margin: 0;
	padding: 0;
}

.tabbed ul.tabs li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

.tabbed ul.tabs li a {
	overflow: hidden;
	display: block;
	margin: 0 2px 0 0;
	padding: 10px 12px;
	cursor: pointer;
}

.tabbed ul.tabs li a:hover {
}

/* The current selected tab */
.tabbed ul.tabs li a.tab-current {
	text-decoration: underline;
}

/* The content shown when a tab is selected */
.tabbed div {
	float: left;
	display: block;
	width: 100%;
}

/* Set the CSS to make sure the other tabs' content isn't shown other than the first */
.tabbed div.t2, .tabbed div.t3, .tabbed div.t4 {
	display: none;
}

/* Content for inside your tabs' divs */
.tabbed div ul {
}

.tabbed div p {
}

.tabbed div div {
}


   
/* Pricing tables
   ========================================================================== */
/**
 * Example HTML:
 *
 * <ul class="pricing-table">
 *		<li class="title"> ... </li>
 *		<li class="price"> ... </li>
 *		<li class="description"> ... </li>
 *		<li class="bullet-item"> ... </li>
 *		<li class="bullet-item"> ... </li>
 *			...
 *		<li class="pt-button"><a class="button" href="#"> ... </a></li>
 * </ul>
 */
 
.pricing-table {
	border: solid 1px #dddddd;
	list-style: none;
}

.pricing-table li {
	background: #ffffff;
	padding: 1em;
	text-align: center;
}

.pricing-table .title {
	background: #dddddd;
	font-weight: bold;
}

.pricing-table .price {
	background: #eeeeee;
	font-size: 130%; 
}

.pricing-table .description {
	color: #777777;
	font-size: 0.8em;
	line-height: 1.4;
	border-bottom: dotted 1px #dddddd; 
}

.pricing-table .bullet-item {
	font-size: 0.9em;
	border-bottom: dotted 1px #dddddd; 
}

.pricing-table .pt-button {
	background-color: whitesmoke;
}

/* ==========================================================================
   $HEADER
   ========================================================================== */
#site-header hgroup {
	float: left;
}

#site-header #site-title,
#site-header #site-description {
	margin: 0;
	font-weight: normal;
}

#site-header #site-title a {
	color: #563D7C;
	text-decoration: none;
	font-size: 36px;
}

#site-header #site-description {
	color: #5A5A5A;
	font-size: 21px;
}

#site-header #searchform {
	padding-top: 2em;
	float: right;
}

#site-header #searchform label {
	display: none;
}

#site-header #searchform input[type="search"] {
	width: 100px;
}

#site-header #searchform input[type="search"]:focus,
#site-header #searchform input[type="search"]:active {
	width: 150px;
}
   
/* ==========================================================================
   $NAVIGATION
   ========================================================================== */
.site-nav ul {
    margin-bottom: 0;
}

.site-nav li {
    display: inline-block;
	position: relative;
}

.site-nav li:hover > ul {
	display: block;
}

.site-nav ul ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 99;
	background: #f2f2f2;
}

.site-nav ul ul li,
.site-nav ul ul a {
	width: 100%;
	white-space: nowrap;
	font-size: 13px;
}

.site-nav ul ul ul li,
.site-nav ul ul ul a {
	font-size: 12px;
}

.site-nav ul ul ul {
	top: 0;
	left: 100%;
}

.site-nav ul ul ul li {
	width: auto;
	display: block;
}

#mobile-nav-container {
	background: grey;
	position: fixed;
	left: -100%;
	top: 0px;
	display: block;
	width: 300px;
	height: 100%;
	z-index: 9000;
}
   
/* top-nav
   ========================================================================== */

/* enable sticky top-nav */  
.sticky-nav {
	top: 0;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 1030;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
}

#top-nav-container #site-title {
	margin: 0;
}

#top-nav-container #site-title a {
	padding: 6px 15px;
	display: block;
	text-decoration: none;
	color: #4d4d4d;
	font-size: 18px;
	/*position: absolute;*/
}

#top-nav-container #site-title a:hover {
	color: #333333;
}

/* main-nav
   ========================================================================== */
#top-nav,
#top-nav-container,
#main-nav {
	background: #f2f2f2;
}

#top-nav ul,
#main-nav ul {
	float: left;
}

#top-nav a,
#main-nav a {
	display: block;
	color: #666666;
	text-decoration: none;
	padding: 10px 15px;
}

#top-nav a:hover,
#main-nav a:hover {
	background: #e6e6e6;
	color: #333333;
}
   

/* foot-nav
   ========================================================================== */
   
/* Pagination
   ========================================================================== */
.page-numbers li {
	display: inline-block;
}

.page-numbers li a,
.page-numbers li span {
	background: #F2F2F2;
	text-decoration: none;
	display: block;
	padding: 3px 7px;
}

.page-numbers li a {
	color: #666666;
}

.page-numbers li a:hover {
	background: #E6E6E6;
	color: #333333;
}

.page-numbers li span {
	color: #b2b2b2;
}

.page-numbers li span.current {
	background: #E6E6E6;
	color: #333333;
}

/* Post navigation
   ========================================================================== */

.post-navigation a {
	text-decoration: none;
}

.post-navigation a span {
	text-decoration: none;
	padding: 5px 10px;
	background: #F2F2F2;
	color: #666666;
}

.post-navigation a:hover span {
	background: #E6E6E6;
	color: #333333;
}


/* ==========================================================================
   $MAIN
   ========================================================================== */

/* article
   ========================================================================== */
.entry-content {
    position: relative;
}

.entry-meta {
    font-size: 12px;
    color: #999999;
    position: relative;
}

.entry-meta a {
	color: #888888;
	font-weight: bold;
}

.comments-links {
	position: absolute;
	right: 0;
}

.comments-links a {
	text-decoration: none;
}

.post-edit-link {
    position: absolute;
    bottom: 0;
    right: 0;
}
   
/* ==========================================================================
   $SIDEBAR
   ========================================================================== */
.widget ul.menu {
	background: #F2F2F2;
}

.widget ul.menu a {
	color: #666666;
	padding: 5px 10px;
	text-decoration: none;
	display: block;
}

.widget ul.menu a:hover {
	background: #E6E6E6;
	color: #333333;
}

.widget ul.menu ul {
	margin: 0;
}

.widget ul.menu ul a {
	padding: 5px 20px;
	font-size: 13px;
}

.widget ul.menu ul ul a {
	padding: 5px 30px;
	font-size: 12px;
}

.widget_nav_menu .widgettitle {
	background: #F2F2F2;
	padding: 5px 10px;
	margin: 0;
	font-size: 14px;
}
   
/* ==========================================================================
   $FOOTER
   ========================================================================== */
#site-footer {

}

#to-top {
  
}

/* footer-widgets
   ========================================================================== */